NODE_ENV=development
HOST=localhost
PORT=5000

DATABASE_ATLAS=mongodb+srv://<DB_USERNAME>:<PASSWORD>@<YOUR_ATLAS_URL>/<YOUR_DATABASE_NAME>?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://127.0.0.1:27017/<YOUR_DATABASE_NAME>
DATABASE_PASSWORD=XXXXXXXXXX

GOOGLE_API_KEY=XXXXXXXX

JWT_KEY=w1Oj481gF32XeXG4QZlsL2slz3NdruBx
JWT_EXPIRES=30d

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=XXXXXXXXXX
MAIL_PASSWORD=XXXXXXXXXX
MAIL_FROM_ADDRESS=mail@geolocation.com