NODE_ENV=development
HOST=localhost
PORT=5000

DATABASE_ATLAS=mongodb+srv://<DB_USERNAME>:<PASSWORD>@<YOUR_ATLAS_URL>/<YOUR_DATABASE_NAME>?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://127.0.0.1:27017/<YOUR_DATABASE_NAME>
DATABASE_PASSWORD=XXXXXXXXXX

GOOGLE_API_KEY=XXXXXXXX

JWT_KEY=v24c4T1gQ62XevG1QZlsM2su53NdRu7y
JWT_EXPIRES=30d